body {
    font: 14px monoco, courier, monospace;
	background-color: #999;    
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: none;
}       

input {
    font-size: 14px;
    font-family: monoco, courier, monospace;
}

select {
    background-color: #eee;
    font-size: 14px;
    font-family: monoco, courier, monospace;    
}

#main {
    width: 300px;    
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}       

#error_message {
	color: red;
}

a {
    color: black;
    border: 1px solid #ddd;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;         
}
